/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Reset CSS */
/* Begin Site Styles */

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  color: #181818;
  font-size: 1.1em;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding-left: .5em;
  padding-right: .5em;
  background-color: #F2ECDA;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: .25em;
}

h3 {
  font-size:1.5em;
  padding-bottom: .75em;
}

h4, h5, h6, p {
  padding-bottom: 1em;
}

#logo {
  transform: rotate(25deg);
  height: 64px;
  width: 64px;
}

#container {
  padding: 1.5em;
  background-color: #F2ECDA;
  padding: 10px;
  margin: 15px;
}

.answer {
  border: 2px solid black;
  border-radius: 15px;
  padding-top:.5em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin-bottom: .75em;
}

.answer:hover {
  background-color: blue;
  cursor: pointer;
  color: #E8E8E8;
  font-weight: bold;
  padding-left: .5em;
  padding-right: .5em;
}

.answer > p {
  text-align: center;
}

